#search{
    margin-bottom: 5px;
}

#search-button:hover {
    cursor: pointer;
}

#github-img, #github-btn {
    height: 176px;
}
#stackoverflow-btn {
    height: inherit;
    width: inherit;
}

.collumn {
    margin-right: 10px;
}

.collumn {
    float: left;
}

.section-head {
    height: 70px;
    width: 170px;
}

.link {
    width: 150px;
    border: 1px solid #000000;
    border-radius: 5px;    
    text-align: center;
    font: inherit;
}

.link:hover {
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 3px;
    border-right-width: 3px;
    cursor: pointer;
    font-weight: bold;
}

.img-btn {
    border: 0;
    background: 0;
    padding: 0;
    margin: 0;
    height: 50px;
}

.img-btn:focus {
    outline: none;
}

.img-btn:hover {
    cursor: pointer;
}

.office-img{
    width: 50px;
    border: 0;
}

#word:hover, #ppt:hover, #excel:hover{
    border: 1px solid black;
}

div {
    /*float: left;*/
    text-align: center;
    padding: 5px;
}

h3 {
    margin-top: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
